.login-background {
  background-image: url('src/assets/images/auth/washing machine.jpg'),
  url('src/assets/images/auth/family.jpg');
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: 500px, 500px;
  background-position: left bottom, right bottom;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login-bottom {
  width: 100%;
  position: absolute;
}


@media only screen and (max-width: 1400px) {
  .login-background {
    background-size: 400px, 400px;
  }
}

@media only screen and (max-width: 1200px) {
  .login-background {
    background-size: 300px, 300px;
  }
}

