<div class="container">
  <div class="d-flex justify-content-center ">
    <div class="d-flex flex-column">
      <img class="my-4 align-self-center" src="assets/images/ldms-logo/Logo.png" width="80" alt="ldms logo">
      <h4 class="align-self-center">Laundry Management System</h4>
      <label class="align-self-center">Portable | Quick | Easy</label>
    </div>
  </div>
  <hr>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/images/intro/slideshow/IMG_9250.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Customer Experience</h5>
        <p class="card-text">Everything about Bundle is centred on our clients and their success. That's precisely why
          we've built our portal to ensure all clients have visibility, transparency and ownership of their
          operations.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/intro/slideshow/IMG_9173.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Automate Processes</h5>
        <p class="card-text">Productivity is at the heart of any business' success and we understand this better than
          anyone. Our entire suite has been constructed with the objective of ensuring trust, efficiency and
          reliability.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/intro/slideshow/IMG_9291.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Increase Productivity</h5>
        <p class="card-text">Manual processes hinder operations and lead to inefficiency and errors - leaving your
          operation vulnerable. Our suite has the capacity and capability to completely modernise your various
          operations.</p>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-4">
    <img src="assets/images/vave-logo/logoRecreation.png" width="50" alt="vave-logo">
  </div>
  <div class="d-flex align-items-center justify-content-center mt-2">
    <div class="d-flex flex-column">
      <label class="align-self-center">VaVe Development Center</label>
      <h6 class="align-self-center">Sri Lanka</h6>
      <a href="https://vave.lk" target="_blank" type="button" class="btn btn-outline-primary">Visit Us</a>
    </div>
  </div>
</div>
