<nav class="navbar navbar-expand-lg navbar-light bg-primary app-navbar">

  <div class="container-fluid">
    <a *ngIf="menuBtnIcon" (click)="onSideDrawerBtnClick()"
       class="btn-sm justify-content-center me-2 app-cursor-pointer">
      <mat-icon class="align-self-center text-white" aria-hidden="false">menu</mat-icon>
    </a>
    <div>
    </div>
    <div class="d-flex flex-row-reverse">
      <div *ngIf="getAuthUser()" class="dropdown">
        <button class="btn btn-outline-light pb-0 border-0 shadow-none" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon class="">info</mat-icon>
        </button>
        <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Account Settings</a></li>
          <li><a class="dropdown-item" href="#">Activity History</a></li>
          <hr>
          <li><a class="dropdown-item" (click)="onSignOutBtnClick()">Sign out</a></li>
        </ul>
      </div>

      <div *ngIf="getAuthUser()" class="dropdown">
        <button class="btn btn-outline-light pb-0 border-0 shadow-none" type="button" id="nav-main-dropdown-info-btn"
                data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon class="">account_circle</mat-icon>
        </button>
        <ul class="dropdown-menu dropdown-menu-end mt-2 pb-0" aria-labelledby="nav-main-dropdown-info-btn">
          <div class="d-flex flex-row-reverse" style="margin-top: -25px; margin-right: 15px; z-index: 2000">
            <mat-icon style="color: white; font-size: 30px" color="white" >eject</mat-icon>
          </div>
          <div class="d-flex flex-column align-items-center m-2">
            <img class="m-2" style="border-radius: 360px" src="assets/images/user/userSampleImage.png" width="60">
            <h6 class="text-black text-opacity-75 mb-1">Lahiru Gayantha</h6>
            <p class="text-black text-opacity-50 mb-1" style="font-size: 14px">System Administrator</p>
            <p class="text-black text-opacity-75" style="font-size: 12px">lahirug@laundromat.lk</p>
          </div>
          <hr>
          <li><a class="dropdown-item" href="#">
            <div class="d-flex flex-row justify-content-between">
              <mat-icon class="me-2">settings</mat-icon>
              <label>Account Settings</label>
            </div>
          </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <div class="d-flex flex-row justify-content-start">
                <mat-icon class="me-2">history</mat-icon>
                <label>Activity History</label>
              </div>
            </a>
          </li>
          <hr class="bg-dark bg-opacity-50 mb-0">
          <li><a class="btn btn-primary w-100 mb-0 mt-0" (click)="onSignOutBtnClick()">
            Sign Out
          </a></li>
        </ul>
      </div>
    </div>

    <button *ngIf="!getAuthUser()" (click)="onLoginBtnClick()" class="btn btn-outline-light float-end" type="button">
      Login
    </button>
  </div>
</nav>
