<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="col-auto mx-2 mx-sm-0">
      <button *ngIf="getUser()" (click)="onSideDrawerBtnClick()" class="btn btn-outline-primary d-flex justify-content-center float-start me-2">
        <mat-icon class="align-self-center" aria-hidden="false">{{menuBtnIcon}}</mat-icon>
      </button>
      <!-- Add title -->
      <a class="navbar-brand float-start" href="#">The Laundromat</a>
      <!-- Burger button when in the responsive mode -->
<!--      <button class="navbar-toggler float-end" type="button" data-toggle="collapse" data-target="#navbarNav"-->
<!--              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
    </div>
    <button *ngIf="!getUser()" (click)="onLoginBtnClick()" class="btn btn-outline-primary float-end"  type="button">Login</button>
    <button *ngIf="getUser()" (click)="onSignOutBtnClick()" class="btn btn-outline-primary float-end" type="button">Sign Out</button>
  </div>
</nav>
