<div class="d-flex justify-content-center mt-5">
  <div class="col-xs-auto col-md-5 col-xl-4 text-center">
    <div class="card shadow p-3 mb-4 bg-white rounded">
      <div class="card-body">
        <div class="w-100 text-center mb-4">
          <label class="text-secondary">Log in to your account</label>
          <hr>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form-group text-start">
          <div class="form-group">
            <label for="id-ldms-login-email">Email address</label>
            <input aria-describedby="id-ldms-Login-email-description" class="form-control" formControlName="email"
                   id="id-ldms-login-email"
                   placeholder="Enter email" type="email">
            <small *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
                   id="id-ldms-Login-email-note" class="text-danger">Enter correct email address.</small>
          </div>
          <div class="form-group my-4">
            <label for="id-ldms-login-password">Password</label>
            <input type="password" class="form-control" id="id-ldms-login-password" placeholder="Password"
                   formControlName="password">
            <small *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"
                   id="id-ldms-Login-password-note" class="text-danger">Enter password</small>
            <div class="form-check small mt-2">
              <a routerLink="forgot-password" class="form-label float-end">Forgot password</a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100" [ngClass]="loginForm.valid?'':'disabled'">Login</button>
        </form>
        <label class="text-secondary small my-4">OR</label>
        <button class="btn btn-outline-light shadow-sm text-black rounded w-100 d-flex flex-row justify-content-around">
          <img
            class="mx-2"
            src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.314/static/media/microsoft-logo.42b61fa1.svg"
            alt="microsoftLogo"/>
          <span>Continue with microsoft account</span>
        </button>
      </div>
    </div>
    <span class="text-primary btn small"><span class="small">Privacy Policy</span></span>
  </div>
</div>
