<div class="d-flex justify-content-center mt-5">
  <div class="col-4 text-center">
    <div class="card shadow p-3 mb-4 bg-white rounded">
      <div class="card-body">
        <div class="w-100 text-center mb-4">
          <label class="text-secondary">Cant log in?</label>
          <hr>
        </div>
        <form class="text-start">
          <div class="form-group my-4">
            <label class="small text-secondary">We will send a recovery link to</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted visually-hidden">We'll never share your email with
              anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
    <span class="text-primary btn small"><span class="small">Contact Support</span></span>
  </div>
</div>

